= provide(:title, '注册')
= provide(:button_text, '创建账号')

%h1 注 册
.row.signup
  .col-md-4.col-md-offset-4
    = form_for(@user, url: signup_path) do |f|
      = render 'shared/error_messages', object: f.object
      .form-group
        = f.label :用户名
        = f.text_field :name, class: 'form-control', required: true
      .form-group.verification
        = f.label :手机号
        .col-md-9
          = f.phone_field :mobile, class: 'form-control', required: true
        = f.button "发送验证码", type: 'button', id: "send-activation-token", class: "col-md-3 btn btn-default"
      .form-group
        = f.label :短信验证码
        = text_field_tag :activation_token, nil, class: 'form-control', required: true
      .form-group
        = f.label :密码
        = f.password_field :password, class: 'form-control', required: true
      .form-group
        = f.label :password_confirmation, "确认密码"
        = f.password_field :password_confirmation, class: 'form-control', required: true

      = f.submit "创建账号", class: "btn btn-primary"

:javascript
  $(function() {
    $("#send-activation-token").on('click', function() {
      var url = '/verifications';
      var mobile = $('#user_mobile')[0].value;

      $.post(url, { mobile }, function(response) {
        console.log(response)
      })
    });
  })
:scss
  .signup {
    .verification {
      .col-md-9 {
        padding-left: 0;
      }
      .col-md-3 {
        margin-bottom: 15px;
      }
    }
    .btn-primary {
      margin-top: 15px;
    }
  }
