<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
    </section>

    <section class="stats">
    </section>

    <section class="micropost_form">
      <%= render 'shared/book_form' %>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @books.any? %>
      <h3>Books (<%= @books.count %>)</h3>
      <ol class="microposts">
        <%= render @books %>
      </ol>
      <%# <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
