= form_for(@book, html: { multipart: true }) do |f|
  = render 'shared/error_messages', object: f.object
  .field
    = f.text_field :name, placeholder: "书名", class: 'form-control'
  .field
    = f.text_field :ywid, placeholder: "阅文id", class: 'form-control'
  .field
    = f.text_field :author_name, placeholder: "作者", class: 'form-control'
  = f.submit "添加", class: "btn btn-primary"
