%body
  %header.navbar.navbar-fixed-top.navbar-inverse
    .container
      = link_to "麦芽糖", root_path, id: "logo"
      %nav
        %ul.nav.navbar-nav.navbar-right
          - unless logged_in?
            %li= link_to "首页", root_path
          %li= link_to "帮助", help_path
          - if logged_in?
            %li= link_to "书架", books_path
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                账户
                %b.caret
              %ul.dropdown-menu
                %li
                  = link_to "个人中心", current_user
                %li.divider
                %li
                  = link_to "退出", logout_path, method: "delete"
          - else
            %li= link_to "登录", login_path
